@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
#map {
  height: calc(100% -40px);
  width: 100%;
  position: absolute;
  top: 70px;
  left: 0;
  bottom: -30px;
  z-index: 1;
}

:root {
  font-family: "Montserrat";
  --color-primario: #203c6c;
  --color-secundario: #f0f0f0;
}

.leaflet-control-scale {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-310%, -200%);
  z-index: 9999;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  height: 70px;
  z-index: 9999;
  background-color: var(--color-primario);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.nav-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0.5rem;
  margin-right: 2rem;
  background-color: #ffffff;
  border-radius: 1rem;
}

.nav h1 {
  margin: 0;
  color: var(--color-secundario);
}

.nav img {
  max-height: 40px;
  object-fit: contain;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 160px;
  left: 10px;
  width: 50px;
  height: auto;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  z-index: 2;
  background-color: transparent;
}

/* Estilos generales para los botones */
.btnSide,
.btnSideInfo,
.info-side {
  background-color: var(--color-primario);
  border: none;
  color: var(--color-secundario);
  font-size: 20px;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
}

.btnSide:hover,
.btnSideInfo:hover,
.info-side:hover {
  background-color: rgba(245, 245, 245, 0.801);
}

.btnSide i,
.btnSideInfo i,
.info-side i {
  font-size: 24px;
}

.leaflet-control-layers {
  right: 10px;
  width: 50px;
  height: 50px;
  z-index: 10000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #6b6a6a77;
}

.leaflet-control-layers-expanded {
  position: fixed;
  width: 150px;
  height: 200px;
  z-index: 1000;
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.btnSide:hover {
  background-color: rgb(209, 206, 206);
  color: rgb(255, 255, 255);
}
.bx {
  color: #333;
  font-size: 25px;
}

/* ---------------------------Leyenda en la esquina---------------------------------- */

.legend {
  display: flex;
  top: 80px;
  left: 100px;
  height: 40px;
  width: 450px;
  right: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  padding: 10px;
  z-index: 2;
  background-color: var(--color-primario);
  position: fixed;
  color: var(--color-secundario);
  justify-content: space-between;
  align-items: center;
}
.legend p {
  font-weight: bold;
  text-align: center;
}
.legend div span {
  border-radius: 100%;
  display: inline-block;
  height: 0.8rem;
  width: 0.8rem;
  margin-right: 10px;
}

.selector-container {
  display: none;
  bottom: 20px;
  left: 10px;
  z-index: 3;
  gap: 10px;
  padding: 10px;
  transition: right 0.3s ease;
  flex-direction: column;
  position: fixed;
  font-size: 14px;

  align-items: center;

  background-color: #f1f1f1;
}

.layer-selector {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f9f9f9;
}

.movil-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.histogramaArrow {
  position: fixed;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  background-color: rgb(255, 255, 255);
  z-index: 3;
  top: 50%;
  right: 350px;
  transform: translateY(-50%);
  transition: right 0.3s ease;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0px;
  width: 420px;
  height: 100%;
  background-color: var(--color-primario);
  box-shadow: 10px 10px 20px rgb(255, 255, 255);
  z-index: 3;
}
.sidebar-indice {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.sidebar p {
  text-align: center;
  font-weight: bold;
}
.sidebar button {
  border: none;
  cursor: pointer;
}
.sidebar.open {
  right: 0;
}
.sidebar.close .close-info {
  right: -300;
}
.histogramaArrow.moved {
  right: 350px;
}

canvas {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 20px auto;
}

/* --------------------------ESTILOS DE LA SEGUNDA PAGINA TEST------------------------------- */
.layerTemporadas {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  z-index: 4;
}
.layer-selector-temporada {
  cursor: pointer;
  padding: 5px;
  width: 110px;
  height: 45px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
}
.layer-selector-temporada option {
  background-color: #ffffff;
  border-radius: none;
}

.layerControl {
  display: flex;
  justify-content: space-between;
}
.layerControl hr {
  background-color: #333;
  width: 2px;
  margin: 10px;
}

.modal {
  position: fixed;
  z-index: 4;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.close {
  cursor: pointer;
}
.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.checkbox-container {
  display: flex;
}
.checkbox-container input {
  cursor: pointer;
}
.checkbox-container div {
  display: flex;
  margin: 10px;
  justify-content: space-around;
}
.loader-container-left {
  display: block;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, 400%) perspective(200px);
  z-index: 1;
  width: 48px;
  height: 48px;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.loader-left {
  display: flex;
  position: relative;
  width: 48px;
  height: 48px;
  background: #2c68d6;
  transform: rotateX(65deg) rotate(45deg);
  color: #2c68d657;
  animation: layerr 1s linear infinite alternate;
}

.loader-container-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 400%) perspective(200px);
  z-index: 1;
  width: 48px;
  height: 48px;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.loader-right {
  display: flex;
  position: relative;
  width: 48px;
  height: 48px;
  background: #2c68d6;
  transform: rotateX(65deg) rotate(45deg);
  color: #2c68d657;
  animation: layerr 1s linear infinite alternate;
}

.btn-graficas-anual {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  font-family: "Montserrat", serif;
}

@keyframes layerr {
  0% {
    box-shadow: 0px 0px 0 0px;
  }
  90%,
  100% {
    box-shadow: 20px 20px 0 -4px;
  }
}

/* -----------------------------------------------estilos de el toltip-------------------- */
.popup-content {
  font-size: 14px;
  color: #333;
  font-family: "Montserrat", serif;
}

.popup-content .title {
  font-size: 16px;
  color: #2c3e50;
  font-weight: bold;
}

.popup-content .section {
  margin-top: 10px;
  font-size: 14px;
}

.popup-content .section .section-title {
  font-weight: bold;
  color: #16a085;
  margin-left: 20px;
}

.popup-content .section .section-value {
  margin-left: 20px;
}

/* -----------------------LKOADER  */

.loader-layer {
  width: 100%;
  height: 4.8px;
  display: inline-block;
  position: relative;
  background: rgba(255, 255, 255, 0.226);
  overflow: hidden;
}
.loader-layer::after {
  content: "";
  width: 192px;
  height: 4.8px;
  background: #2c68d6;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader-layer 2s linear infinite;
}

@keyframes animloader-layer {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}

/* Para dispositivos móviles (pantallas de hasta 768px) */
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
    background-color: #fff;
  }

  .container {
    padding: 10px;
  }

  .header {
    font-size: 18px;
    text-align: center;
  }
  .selector-container {
    flex-direction: column;
    width: 90%;
  }
  .selector-container div {
    width: 60%;
    justify-content: space-between;
  }
  .checkbox-temporal {
    display: none !important;
  }
  .movil-selector {
    display: flex;
  }
  .movil-selector div {
    display: flex;
    flex-direction: column;
  }
  .legend {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 10px;
    left: 20%;
    height: 50px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    z-index: 1;
    font-size: 14px;
  }
  .legend p {
    display: none;
  }
}

/* ----------------------------estilos del incio ---------------------- */

.select-inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 20px;
  left: 10px;
  z-index: 1;
  gap: 10px;
  padding: 10px;
  transition: right 0.3s ease;
  position: fixed;
  font-size: 14px;
  background-color: var(--color-primario);
  color: var(--color-secundario);
}
.checkbox-permanent {
  display: flex;
  margin-left: auto;
}
.select-inicio-selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.custom-select-inicio {
  cursor: pointer;
  padding: 5px;
  width: 110px;
  height: 45px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--color-primario);
  color: var(--color-secundario);
  border-radius: 10px;
  margin: 10px;
}
.custom-select-inicio option[value=""] {
  color: #aaa;
}
.custom-select-inicio:hover {
  background-color: var(--color-primario)
  ;
}
.select-inicio span {
  font-weight: bold;
}

#zonaRiosMunicipio {
  display: block;
}

#temporal {
  display: none;
}

.label-selected-area-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 40%;
  left: 10%;
  width: 300px;
  height: 200px;
  background-color: transparent;
  z-index: 1;
}
.label-selected-area-container span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  text-align: center;
  font-weight: bold;
  color: #888;
  letter-spacing: 2px;
}

/*------------------------MODAL DE LA INFORMACION DE AYUDA-----------------------*/

.modal-info {
  position: fixed;
  z-index: 4;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  will-change: transform;
}

.modal-content-info {
  background-color: white;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  max-height: 80%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  overflow-x: hidden;
}

.close-info {
  cursor: pointer;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.info-container span {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: right;
  width: 400px;
}
.zoom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.301);
  border-radius: 2px;
}
.zoom-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.span-seleccion-capa {
  display: flex;
  flex-direction: column !important;
}
.span-seleccion-capa img {
  width: 120%;
  height: auto;
}
.comparador-circle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comparador-circle span {
  background-color: #333;
  width: 2px;
  height: 30px;
  margin: 2px;
}
.histogramas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
}

/* Estilo para cada grupo de gráficas */
.grafica-group {
  flex: 1 1 calc(50% - 20px);
  padding: 0px;
  border-radius: 10px;
}

.canvas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

canvas {
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #000000;
}

.grafica-group p {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

#temporal {
  display: none;
}

#temporal.active {
  display: block;
}
