@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
#map {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

:root {
  font-family: "Montserrat";

  --color-primario: #203c6c;
  --color-secundario: #ddeeed;
  --color-terciario: #3a8b86;
  --sizePc: 14px;
  --radiusUno: 10px;
}

.leaflet-control-scale {
  position: fixed;
  top: 95%;
  left: 70%;
  z-index: 9999;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  height: 60px;
  z-index: 9999;
  background-color: var(--color-primario);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.nav-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0.2rem;
  margin-left: 1rem;
  background-color: #ffffff;
  border-radius: var(--radiusUno);
}

.nav h1 {
  margin: 0;
  color: var(--color-secundario);
}

.nav img {
  max-height: 32px;
  object-fit: contain;
  border-radius: 100px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 140px;
  left: 10px;
  width: 50px;
  height: auto;
  border: none;
  cursor: pointer;
  z-index: 2;
  background-color: transparent;
}

/*----------------------------------------- Estilos generales para los botones ----------------------*/
.btn-side,
.btn-endClean,
.info-side,
.btn-layer {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primario);
  border: none;
  color: var(--color-secundario);
  font-size: 20px;
  padding: 7px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: var(--radiusUno);
}
.btn-layer:hover i,
.btn-endClean:hover i,
.btn-side:hover i,
.info-side:hover i {
  color: var(--color-primario);
}
.btn-side:hover,
.btn-endClean:hover,
.info-side:hover,
.btn-layer:hover {
  background-color: var(--color-secundario);
}

.btn-side i,
.btn-endClean i,
.info-side i {
  font-size: 20px;
}

.leaflet-control-layers {
  right: 10px;
  width: 50px;
  height: 50px;
  z-index: 10000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #6b6a6a77;
}

.leaflet-control-layers-expanded {
  position: fixed;
  width: 150px;
  height: 200px;
  z-index: 1000;
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
/* ----------------------------estilos del modal para mas mapas------------------------------ */

.map-layer-container {
  width: 320px;
  height: 80px;
  left: 70px;
  position: absolute;
  z-index: 3;
  background-color: var(--color-primario);
  top: 220px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  display: none;
  border-radius: var(--radiusUno);
}

.map-layer-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px !important;
  height: 70px;
  padding: 5px;
  border-radius: var(--radiusUno);
}
.map-layer-container img {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
}
.map-layer-container label {
  color: #cacaca;
  font-size: 13px;
}

.map-layer-container img:hover {
  border: 2px solid #f0f0f0;
  cursor: pointer;
}
/* ---------------------------Leyenda en la esquina---------------------------------- */

.legend {
  display: flex;
  top: 80px;
  left: 100px;
  width: 450px;
  right: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  padding: 13px;
  z-index: 2;
  background-color: var(--color-primario);
  position: fixed;
  color: var(--color-secundario);
  justify-content: space-between;
  align-items: center;

  border-radius: var(--radiusUno);
}

.legend-comparadora {
  display: none;
  top: 80px;
  left: 100px;

  width: 450px;
  right: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  padding: 13px;
  z-index: 2;
  background-color: var(--color-primario);
  position: fixed;
  color: var(--color-secundario);
  justify-content: space-between;
  align-items: center;
  border-radius: var(--radiusUno);
}

.legend p {
  font-weight: bold;
  text-align: center;
}
.legend div span {
  border-radius: 100%;
  display: inline-block;
  height: 0.8rem;
  width: 0.8rem;
  margin-right: var(--radiusUno);
}
.legend-comparadora div span {
  border-radius: 100%;
  display: inline-block;
  height: 0.8rem;
  width: 0.8rem;
  margin-right: 10px;
}

.selector-container {
  display: none;
  bottom: 20px;
  left: 10px;
  z-index: 3;
  gap: 10px;
  padding: 10px;
  transition: right 0.3s ease;
  flex-direction: column;
  position: fixed;
  font-size: 14px;

  align-items: center;
  color: var(--color-secundario);
  background-color: var(--color-primario);
}

.layer-selector {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: var(--color-primario);
}

.movil-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* .histogramaArrow {
  position: fixed;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  background-color: rgb(255, 255, 255);
  z-index: 3;
  top: 50%;
  right: 350px;
  transform: translateY(-50%);
  transition: right 0.3s ease;
} */
.sidebar {
  position: fixed;
  top: 0;
  right: 0px;
  width: 380px;
  height: 100%;
  background-color: var(--color-primario);
  box-shadow: 10px 10px 20px rgb(255, 255, 255);
  z-index: 3;
}
.sidebar-indice {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.sidebar p {
  text-align: center;
  font-weight: bold;
}
.sidebar button {
  border: none;
  cursor: pointer;
}

/* --------------------------ESTILOS DE LA SEGUNDA PAGINA TEST------------------------------- */
.layerTemporadas {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  z-index: 4;
  color: var(--color-secundario);
}
.layer-selector-temporada {
  cursor: pointer;
  padding: 5px;
  width: 110px;
  height: 45px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--color-primario);
  color: var(--color-secundario);
  border-radius: var(--radiusUno);
}
.layer-selector-temporada option {
  background-color: var(--color-primario);
  border-radius: none;
}

.layerControl {
  display: flex;
  justify-content: space-between;
}
.layerControl hr {
  background-color: #333;
  width: 2px;
  margin: 10px;
}

.modal {
  position: fixed;
  z-index: 4;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.close {
  cursor: pointer;
}
.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.checkbox-container {
  display: flex;
}
.checkbox-container input {
  cursor: pointer;
}
.checkbox-container div {
  display: flex;
  margin: 10px;
  justify-content: space-around;
}
.loader-container-left {
  display: block;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, 400%) perspective(200px);
  z-index: 1;
  width: 48px;
  height: 48px;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.loader-left {
  display: flex;
  position: relative;
  width: 48px;
  height: 48px;
  background: #2c68d6;
  transform: rotateX(65deg) rotate(45deg);
  color: #2c68d657;
  animation: layerr 1s linear infinite alternate;
}

.loader-container-right {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 400%) perspective(200px);
  z-index: 1;
  width: 48px;
  height: 48px;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.loader-right {
  display: flex;
  position: relative;
  width: 48px;
  height: 48px;
  background: #2c68d6;
  transform: rotateX(65deg) rotate(45deg);
  color: #2c68d657;
  animation: layerr 1s linear infinite alternate;
}

.btn-graficas-anual {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  font-family: "Montserrat", serif;
  padding: 10px;
  background-color: var(--color-primario);
  color: var(--color-secundario);
}
.btn-graficas-anual i {
  padding: 10px;
}

@keyframes layerr {
  0% {
    box-shadow: 0px 0px 0 0px;
  }
  90%,
  100% {
    box-shadow: 20px 20px 0 -4px;
  }
}

/* -----------------------------------------------estilos de el toltip-------------------- */
.popup-content {
  font-size: 14px;
  color: #333;
  font-family: "Montserrat", serif;
}

.popup-content .title {
  font-size: 16px;
  color: #2c3e50;
  font-weight: bold;
}

.popup-content .section {
  margin-top: 10px;
  font-size: 14px;
}

.popup-content .section .section-title {
  font-weight: bold;
  color: #16a085;
  margin-left: 20px;
}

.popup-content .section .section-value {
  margin-left: 20px;
}

/* -----------------------LKOADER  */

.loader-layer {
  width: 100%;
  height: 4.8px;
  display: inline-block;
  position: relative;
  background: rgba(255, 255, 255, 0.226);
  overflow: hidden;
}
.loader-layer::after {
  content: "";
  width: 192px;
  height: 4.8px;
  background: #2c68d6;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader-layer 2s linear infinite;
}

@keyframes animloader-layer {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}

/* ----------------------------estilos del incio ---------------------- */

.select-inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 20px;
  left: 20px;
  z-index: 1;
  padding: 10px;
  transition: right 0.3s ease;
  position: fixed;
  font-size: 14px;
  background-color: var(--color-primario);
  color: var(--color-secundario);
  border-radius: var(--radiusUno);
}

.checkbox-permanent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.checkbox-permanent div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.zona-selected {
  width: 256px;
}
.checkbox-permanent button {
  border: none;
  border-radius: 5px;

  background-color: transparent;
  cursor: pointer;
}
.checkbox-permanent button i {
  font-size: 24px;
  color: var(--color-secundario);
}

input[type="checkbox"] {
  cursor: pointer;
  accent-color: #15910ae5;
  border-radius: 100%;
  transition: transform 0.2s ease-in-out;
}

.select-inicio-selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.custom-select-inicio {
  cursor: pointer;
  width: 110px;
  height: 45px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--color-primario);
  color: var(--color-secundario);
  border-radius: 10px;
  margin: 10px;
}
.custom-select-inicio option[value=""] {
  color: #aaa;
  cursor: pointer;
}

.custom-select-inicio:hover {
  background-color: var(--color-primario);
  cursor: pointer;
}
.select-inicio span {
  font-weight: bold;
  cursor: pointer;
}

#zonaRiosMunicipio {
  display: block;
}

#temporal {
  display: none;
}

.label-selected-area-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 40%;
  left: 10%;
  width: 300px;
  height: 200px;
  background-color: transparent;
  z-index: 1;
  color: #888;
}
.label-selected-area-container span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}

/*------------------------MODAL DE LA INFORMACION DE AYUDA-----------------------*/

.modal-info {
  position: fixed;
  z-index: 4;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  will-change: transform;
}

.modal-content-info {
  background-color: white;
  padding: 20px;
  border: 1px solid #888;
  width:50%;
  max-width: 60%;
  max-height: 100%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  overflow-x: hidden;
}

.close-info {
  cursor: pointer;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.info-container-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th,
td {
  padding: 10px;
}

th {
  color: #333;
  border-radius: 5px;
  border: none;
}

i {
  font-size: 24px;
}

.info-container span {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: right;
  width: 400px;
}
.zoom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.301);
  border-radius: 2px;
  width: 30px;
}
.zoom-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.span-seleccion-capa {
  display: flex;
  flex-direction: column !important;
}
.span-seleccion-capa img {
  width: 120%;
  height: auto;
}
.comparador-circle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comparador-circle span {
  background-color: #333;
  width: 2px;
  height: 30px;
  margin: 2px;
}
.histogramas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
}

/*----------------- Estilo para cada grupo de gráficas ------------------------------------------------------*/
.grafica-group {
  flex: 1 1 calc(50% - 20px);
  padding: 0px;
  border-radius: 10px;
}
.grafica-groups {
  flex: 1 1 calc(50% - 20px);
  padding: 0px;
  border-radius: 10px;
}

.grafica-groups canvas {
  flex: 1 1 calc(50% - 20px);
  padding: 0px;
  border-radius: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  max-width: 750px;
  max-height: 1000px;
}

.additional-data {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  /*   letter-spacing: 2px;
 */
}
.label-data {
  font-weight: bold;
}
.additional-data span {
  color: var(--color-secundario);
  margin-right: 10px;
}
.canvas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

canvas {
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 250px;
}

.grafica-group p {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

#temporal {
  display: none;
}

#temporal.active {
  display: block;
}

.leaflet-control-zoom {
  position: fixed !important;
  background-color: var(--color-primario) !important;
  border-radius: 5px;
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  align-items: center !important;
  top: 60px;
  left: 5px;
}

.leaflet-control-zoom-in {
  background-color: var(--color-primario) !important;
  color: var(--color-secundario) !important;
  border: none;
  width: 20px !important;
}

.leaflet-control-zoom-out {
  background-color: var(--color-primario) !important;
  color: var(--color-secundario) !important;
  border: none;
}

.leaflet-control-zoom-in:hover,
.leaflet-control-zoom-out:hover {
  opacity: 0.8;
}

/* Para dispositivos móviles (pantallas de hasta 768px) */
@media screen and (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .nav-logos {
    display: none;
  }
  body {
    font-size: 16px;
    background-color: #fff;
  }

  .container {
    padding: 10px;
  }

  .header {
    font-size: 18px;
    text-align: center;
  }

  .selector-container {
    flex-direction: column;
    width: 90%;
  }

  .selector-container div {
    width: 60%;
    justify-content: space-between;
  }

  .checkbox-temporal {
    display: none !important;
  }

  .movil-selector {
    display: flex;
  }

  .movil-selector div {
    display: flex;
    flex-direction: column;
  }
  .legend {
    display: flex;
    justify-content: space-between;
    width: 220px;
    flex-wrap: wrap;
  }
  .legend-comparadora {
    display: flex;
    justify-content: space-between;
    width: 220px;
    flex-wrap: wrap;
  }

  .legend p {
    display: none;
  }

  .histogramaArrow {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    z-index: 3;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    /* transition: transform 0.3s ease; */
    transition: right 0.3s ease-in-out;
  }

  .sidebar {
    position: fixed;
    top: 0;
    right: -420px !important;
    width: 80vw;
    max-width: 320px;
    height: 100%;
    background-color: var(--color-primario);
    box-shadow: none;
    z-index: 3;
    transition: right 0.3s ease-in-out;
  }

  .histogramaArrow.moved {
    transform: translateY(-50%) rotate(180deg);
    right: 320px;
    border-radius: 0 5px 5px 0;
  }
  .sidebar.open {
    right: 0 !important;
  }
  .sidebar.close .close-info {
    right: -300;
  }

  .select-inicio {
    display: flex;
    padding: 5px;
    flex-direction: column;

    transform: translate(-50%);
    left: 50%;
    width: 90%;
  }

  .select-inicio-selected {
    flex-direction: column;
  }

  .custom-select-inicio {
    font-size: 14px;
  }
  .zona-selected {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .select-inicio-selected label {
    display: none;
  }
  .label-selected-area-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 75%;
    left: 50%;
    width: 200px;
    height: 0;
    background-color: transparent;
    z-index: 1;
    transform: translate(-50%, -50%);
  }
  .label-selected-area-container span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: #888;
    letter-spacing: 2px;
  }
  .modal-content-info {
    background-color: white;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 80%;
    max-height: 100%;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    overflow-x: hidden;
  }
  .info-container {
    flex-direction: column;
  }
  .info-container span {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-align: right;
    width: 300px;
  }

  .comparador-circle span {
    width: 2px;
    height: 30px;
    margin: 2px;
  }
}

/* @media screen and (max-width: 1400px) {
  body {
    font-size: 16px;
    background-color: #fff;
  }

  .sidebar {
    position: fixed;
    top: 0;
    right: 0px;
    width: 300px;
    height: 100%;
    background-color: var(--color-primario);
    box-shadow: 10px 10px 20px rgb(255, 255, 255);
    z-index: 3;
  }
  .grafica-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 330px;
    box-sizing: border-box;
  }

  .canvas-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  canvas {
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #000000;
    max-width: 100%;
    max-height: 80%;
    box-sizing: border-box;
  }

  .btn-side,
  .btn-endClean,
  .info-side,
  .btn-layer {
    font-size: 20px;
    padding: 7px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
  }
  .leaflet-control-scale {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-200%, -130%);
    z-index: 9999;
  }
} */
